# Compilados Java
*.class
*.jar
*.war
*.ear

# NetBeans
nbproject/private/
nbproject/Makefile-*.mk
nbproject/Package-*.bash
build/
dist/
nbbuild/
nbdist/
.nb-gradle/
nb-configuration.xml

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# Build output
bin/
out/
target/

# OS
.DS_Store
Thumbs.db
doc/
